<h1>portfolio items </h1>

<%= link_to  "Create new item", new_portfolio_path %>
    <%  @portfolio_items.each do |portf|  %>


        <p>
            <%=  portf.title   %>
        </p>
        <p>
            <%=  portf.subtitle  %>
        </p>
        <p>
            <%= portf.body  %>
        </p>

        <%=  image_tag portf.thumb_image unless  portf.thumb_image.nil? %>

            <%= link_to  "edit", edit_portfolio_path(portf.id) %>

                <% end %>